<%if !article.summary.blank? %>
  <p class="summary" property="schema:summary">
    <% text = article.summary[0..size.to_i].make_urls_line_breakable %>
    <% if article.summary.size > size.to_i then %>
    <%    text += "..." %>
    <% end %>
  </p>
<%elsif !article.description.blank? %>
  <p class="summary" property="schema:description">
    <% text = article.description[0..size.to_i].make_urls_line_breakable %>
    <% if article.description.size > size.to_i then %>
    <%    text += "..." %>
    <% end %>
  </p>
<%end%>
<%= strip_tags(strip_links(text)).to_s.gsub!(/(?:f|ht)tps?:\/[^\s]+/, '') %>
