<% content_for :head do %>
  <title>Open Data for Development - Feeds</title>
<% end %>

<section>
  <section id="articles_listing" class="articles-listing">
    <h1 class="bottom-reset">Rede Conectada</h1>
    <em>Fique por dentro das últimas notícias do universo Open Data</em><br/>
    <br>
    <% @articles.each do |article| %>
      <%= render partial: "articles/article_details", locals: {article: article, home: false} %>
    <% end %>
  </section>
  <section id="partners_listing" class="partners-listing">
    <h1>Nossos Parceiros</h1>
  </section>
</section>
