<h1>WebFoundation Articles</h1>
<p>
<ul>
<% @articles.each do |article|%>
  <li>
    <a href="<%=article.url%>"><h2><%=article.title%></h2></a><br/>
    <%= article.author %><br/>
    <%= article.summary %><br/>
  </li>
<% end %>
</ul>
</p>
