<% content_for :head do %>
  <title>Open Data for Development</title>
<% end %>

<section class="">
  <h1><%= link_to("Understand Open Data", controller: "pages", action: "about") %></h1>
  <p>...</p><br>
</section>