<h3>Convite para se unir à plataforma OD4D</h3>

<p>Há várias maneiras de se unir ao esforço global de publicação de dados linkados e à iniciativa de aplicação dos conceitos de web semântica. O projeto Open Data for Development Platform – OD4D é um espaço amplo para a cooperação entre os mais diversos atores desse ecossistema.</p>

<p><strong>Objetivos</strong></p>
<p>A plataforma serve como conexão entre as iniciativas regionais de dados abertos na América Latina, África, Ásia e Caribe. É uma plataforma aberta também para outras iniciativas locais e regionais. Ela funciona como um hub virtual para a rede OD4D, viabilizando acesso em inglês, português e espanhol a um ambiente simples, semântico e escalável. Foi projetada de modo a ser uma referência em sistemas de dados linkados que possibilite o aprendizado da tecnologia, a troca de informações pela comunidade e a produção de conteúdo semântico. Seus principais objetivos são:</p>

<ul>
	<li>Agregar iniciativas de dados na web tanto de organizações parceiras como de indivíduos, demonstrando em detalhes o passo a passo da estruturação de casos de uso em dados linkados;</li>
	<li>Promover a integração e a disseminação de conhecimento a respeito de dados linkados, utilizando línguas nativas;</li>
	<li>Fomentar padrões e vocabulários específicos;</li>
	<li>Ser uma referência em boas práticas para publicação e reuso de dados linkados;</li>
	<li>Ser, por si só, um case de dados linkados pelo uso de tecnologias padronizadas pelo W3C.</li>
</ul>

<p><strong>Porque se conectar</strong></p>

<p>O resultado final é uma plataforma inspiradora para novas experimentações, interconectando redes com recursos inovadores para fomentar a cadeia de valor de dados linkados.</p>
<p>A plataforma é um espaço livre para gestores, empresários, desenvolvedores, pesquisadores e entusiastas. O seu sucesso depende da participação de pessoas como você.</p>
<p>Nela, por exemplo, gestores de políticas públicas e oficiais de governo podem estudar e discutir estratégias alternativas para o desenvolvimento de capacidades técnicas em agências governamentais e observatórios da região, de modo a implementar repositórios de dados linkados para o desenvolvimento, monitoramento e avaliação de políticas públicas.</p>
<p>Por ser um hub virtual com diferentes participantes, a platafroma facilita a intensa troca de informações e soluções entre especialistas. Vários estudos de caso com ampla capacidade de replicação são relatados. Estes promovem a transparência governamental trazendo um benefício imenso para a população.</p>
<p>Também, empresas privadas podem se beneficiar com as trocas de informações sobre tecnologias de ponta. A implantação de tecnologias da web semântica pode auxiliar no aumento da visibilidade e valor de seus produtos na rede.</p>
<p>A plataforma permite aos departamentos de pesquisas de empresas privadas a promoção dos seus mais recentes desenvolvimentos na área de web semântica. Sem contar as possibilidades de futuras parcerias entre profissionais e instituições cooperando no desenvolvimento de projetos em conjunto.</p>
<p>Ainda, pesquisadores em universidades terão um ambiente fértil para a disseminação de papers, estudos de caso e resultados relevantes de suas pesquisas. A própria inteligência social da plataforma possibilita um knowledge-base vivo sobre dados linkados. Novas experimentações e parcerias podem ser impulsionadas pelo rico networking acadêmico da plataforma.</p>
<p>Para os desenvolvedores e web designers, o ambiente impulsiona o acesso à referências técnicas e às boas práticas na adoção de padrões da web aberta, bem como consulta e publicação de tutoriais e guias técnicos de implantação de web semântica. Além disso, a plataforma congrega um hub de especialistas.</p>
<p>Organizações da sociedade civil, ativistas e entusiastas de software livre, dados abertos e padrões da web aberta podem utilizar a própria plataforma para divulgação de eventos sobre temas de suas aspirações. A plataforma OD4D promove a conscientização e o advocacy sobre a importância da abertura de dados, além de ser um berço próspero para a concepção de novas iniciativas.</p>

<p><strong>Como se conectar</strong></p>

<p>Se você deseja se tornar um parceiro e o site da sua organização possui um feed RSS, é muito simples integrar o seu conteúdo de forma automática à base semântica da plataforma OD4D.</p>

<p>Basta fornecer os seguintes metadados como parte do seu feed RSS:</p>


<p><strong>Canal RSS de sua organização:</strong></p>

<ul>
	<li>title: Título do canal;</li>
	<li>link: Link para todos os conteúdos ou site do parceiro;</li>
	<li>language: Parâmetro da linguagem dos conteúdos;</li>
	<li>managingEditor: Email do responsável pelo conteúdo do site parceiro;</li>
	<li>category: Categoria do canal;</li>
	<li>image:Imagem do parceiro;</li>
</ul>

<p><strong>Itens de postagens disponibilizadas pelo canal RSS:</strong></p>

<ul>
	<li>title: Título do post;</li>
	<li>link: Link do post;</li>
	<li>description: Descrição do post;</li>
	<li>author: Autor do post;</li>
	<li>category: Categoria e assunto do post;</li>
	<li>enclosure: Anexo ou outras mídias associadas ao item (Media Object);</li>
	<li>pubDate: Data de publicação do post;</li>
</ul>

<p>Portanto, é uma oportunidade única para você participar de uma rede global de troca de conhecimentos em dados linkados e de temas correlatos. A sua atuação e o seu conhecimento dentro da plataforma OD4D será um diferencial para o aprimoramento de técnicas e tecnologias em dados linkados e temas afins. E certamente ajudará a tornar mais participativo e inclusivo o processo de gestão de políticas públicas na América Latina, África, Ásia e Caribe, por meio de um ambiente de transparência, de abertura e de colaboração.</p>

<p>Entre em contato conosco por meio do endereço eletrônico <a href="mailto:od4d@nic.br">od4d@nic.br</a> e faça parte dessa iniciativa!</p>