      <div>
        <p>To be better understand the General Terms and Conditions of Use of the Platform, the meanings of different terms are presented below:</p>
        <p>A User is someone who uses the Platform to read its content and/or contribute with original content.</p>
        <p>A Partner is someone who agrees to submit references to content through feeds in RSS format, to be adapted to the Linked Data format and stored in the Platform's software, provided the instructions for belonging to the network are followed.</p>
        <p>Belonging to the network means that Partners will connect through RSS Feeds to the Semantic Web, where the content is their absolute responsibility.</p>
        <p><a target="_blank" href="http://en.wikipedia.org/wiki/RSS">RSS</a> is a subset of XML "dialects" that serve to add content through feeds.</p>
        <p><a target="_blank" href="http://en.wikipedia.org/wiki/Web_feed">Feed</a> is a data format used in forms of communication where content is frequently updated.</p>
        <p><a target="_blank" href="http://www.w3.org/standards/semanticweb">Linked Data</a> is data provided by the semantic web, which is the Data Web - dates, titles; numbers, chemical properties, and any other conceivable data. RDF is the basis for publishing and linking data.</p>
        <p><a target="_blank" href="http://en.wikipedia.org/wiki/Tag_%28metadata%29">Tags</a> are markup language structures containing instructions with a start and end tag so that the browser can digitally process a page.</p>
        <p>1. Acceptance of the Terms of Use by Users and Partners</p>
        <p>1.1 To be able to freely use the content and services provided by the Platform in platform.od4d.org, Users and/or Partners must first carefully read and unequivocally and unconditionally agree with the Terms of Use, Privacy Policy and Specific Terms in the versions in which they are published on the Platform.</p>
        <p>1.2 Other notices and instructions published on platform.od4d.org should be viewed as complements to the Terms of Use, which the User must likewise fully comply with and respect.</p>
        <p>1.3 Those responsible for the Platform reserve the right to modify, delete and/or expand this Terms of Use, freely and at any time, without prior notice.</p>
        <p>1.4 The User is responsible to read the respective Terms of Use and other Specific Terms every time he or she uses and/or accesses the Platform, since these Terms may undergo changes at any time.</p>
        <p>1.5 If the User is dissatisfied with any material found on the Platform or with any of the terms or conditions of use of the Platform, it is the sole responsibility of the User not to use it. The User is responsible for any and all legal actions, claims, losses, damages, liabilities and expenses (including reasonable attorneys' fees) arising from the use of this Platform.</p>
        <p>1.6 It is hereby established that the User is not permitted to access and/or use the Platform’s services, if he or she does not fully accept, without reservation, all the provisions of this Terms of Use. In such cases, the User should immediately stop accessing and/or using the services available at platform.od4d.org.</p>
        <p>1.7 "Partners" are entities that agree to submit references to content through feeds in RSS format to be adapted to the Linked Data format and stored in the Platform's software, provided the instructions for belonging to the network are followed (available at link of the Guideline “How to Connect”).</p>
        <p>1.7.1 To become a Partner, one must submit a feed and express the desire to be part of the network via the contact email of the organizers and maintainers of the Platform (od4d(at)nic.br). When submitting feeds, the Partner agrees to use the tags designated for belonging to the network, which will be built from the software that makes up the Platform.</p>
        <p>2. Access and Use of Services</p>
        <p>2.1 The Platform provides services to Users free of charge and on a royalty-free basis.</p>
        <p>2.2 No registration or identification of any kind is needed for consumption of content on the Platform.</p>
        <p>2.3 Use of the direct publishing features on the Platform will require the registration and identification of the User, who agrees beforehand to provide his or her data through the <%= link_to "privacy policy", controller: "pages", action: "privacy_policy" %>.</p>
        <p>2.4 To access the direct publishing services on the Platform, the User, when completing the registration and identification forms, must provide information as part of the process. The User agrees and states that the information provided is true and correct, and it is his or her responsibility to keep this information updated on the Platform. Otherwise, the User will be liable for any false or incorrect statements that may cause harm or damage to the Platform or third parties.</p>
        <p>2.5 If the User is a minor, in order to access and/or use the Platform’s services, he or she must obtain permission from his or her parents, guardians or legal representative, who will assume full responsibility for any act committed by the minor, as well as the contents and services accessed and/or used by the latter.</p>
        <p>2.6 The User, through this Terms of Use, agrees and commits to use the services properly, for their permitted purposes only, in accordance with the provisions of this Terms of Use, Specific Terms for certain Services, other notices and instructions prepared by the Platform at www.od4d.org, and laws in effect.</p>
        <p>2.7 However, the User acknowledges that he or she is solely responsible for any breach of his or her commitments and obligations regarding the use of the Platform in accordance with this Terms of Use, and recognizes that the Platform’s organizers and maintainers have no liability toward the User or third parties, but rather the User is liable for all consequences, such as loss, damage or harm that the Platform or third parties may suffer, resulting from non-compliance on the part of the User.</p>
        <p>2.8 The mere use of the features of this Platform constitutes agreement of the User or Partner with the terms and conditions set forth herein.</p>

        <p>3. Platform Management and Maintenance</p>
        <p>3.1 Platform management and maintenance will be performed by W3C Brasil along with the community involved in developing the software inherent to the Platform’s operation, available at (www.github.com/W3CBrasil/od4d).</p>
        <p>4. The Platform and its Content</p>
        <p>4.1 The content contributed by users to the Platform shall be for educational or informative purposes.</p>
        <p>4.2 Users may download and copy information, documents and other materials from the Platform and redistribute or make changes, provided the source is mentioned.</p>
        <p>4.3 All or part of the content available on the Platform can be used for lawful purposes on a non-exclusive, royalty-free basis, anywhere in the world. This also includes permission, without limitation, to reproduce, store, copy, distribute, publish, adapt, digitize, transmit, communicate and show or use it in any presently existing medium or those which may be invented in the future. According to the Creative Commons – 3.0 License. This license allows others to distribute, remix, adapt or create derivative works, even for commercial purposes, as long as credit is attributed to the original work.</p>
        <p>4.4 The content provided by contributing users will be the responsibility of the User, and may be moderated by the Platform’s administrators, if it fails to comply with the standards established herein.</p>
        <p>4.5 The content from Partners through feeds in RSS format to be stored in Linked Data format is the responsibility of the Partner who provides the feeds.</p>
        <p>4.6 The material presented on the Platform is provided "as is", for informational purposes only and without any warranties as to its accuracy or completeness. The Platform may periodically make changes to content to improve or update the materials available on the platform, without prior notice to Users being necessary.</p>
        <p>4.7 The use of the Platform is at the User's sole risk. Under no circumstances will the Platform be liable for any loss, damage, liability or expense incurred or suffered through the use of the Platform, including, but not limited to, any fault, error, omission, interruption or delay with respect thereto. Under no circumstances, including, but not limited to negligence, will the Platform be liable for any direct, indirect, special or consequential damages.</p>
        <p>4.8 The User expressly acknowledges and agrees that the Platform’s Administrators are not liable for the conduct of any contributing User of the Platform.</p>
        <p>4.9 The Platform may contain advice, opinions and statements from various content contributors, but W3C Brasil:</p>
        <p>I. Does not endorse the accuracy or reliability of any advice, opinion, statement or other information provided by any content contributor, any user of the Platform or any other person or entity;</p>

        <p>II. Does not confirm any opinion, advice, statement or any other information provided on the Platform, since its analysis is up to the User;</p>

        <p>III. Neither W3C Brasil, nor its employees, information providers or content developers shall be liable to any user or person, for any inaccuracy, error, omission, interruption, being out-of-date, incompleteness, deletion, defect, failure of performance, computer virus, communication line failure, alteration or use of any content herein, regardless of cause, or for any damages resulting therefrom.</p>
        <p>4.10 Unless stated otherwise, the opinions and conclusions expressed in the materials on the Platform are the sole responsibility of the authors and do not necessarily represent those of W3C Brasil. All content generated by contributing users is the responsibility of the User and may be moderated by the Platform’s administrators if does not comply with the standards established herein.</p>
        <p>4.11 No data, information and/or material made available on the Platform may be implicitly or explicitly construed as a recommendation for making investments. Consequently, nothing contained on the Platform, nor in any of the materials, constitutes an offer or invitation by W3C Brasil, or in its name, to buy or sell shares or securities.</p>
        <p>4.12 The Platform contains links and references to third-party websites. The linked sites are not under the control of W3C Brasil, which is not responsible for the content of any linked site or any link contained in a linked site. W3C Brasil provides these links only as a convenience to Users, and the inclusion of a link or reference does not imply any type of endorsement by W3C Brasil.</p>
        <p>4:13 If the Platform contains bulletin boards, chat rooms, access to discussion lists or other forms of messaging (referred to as "Forums"), as well as content posted by registered or identified Users, the User agrees to use the forums only to send and receive messages and material that are proper and related to the particular forum. By way of example, and not as a limitation, the User agrees that, when using a Forum, he or she shall not do any of the following:</p>
        <p>I. Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others;</p>

        <p>II. Publish, distribute or disseminate any defamatory, infringing, obscene, indecent or unlawful material or information;</p>

        <p>III. Upload or attach files that contain software or other material protected by intellectual property rights (or by rights of privacy or publicity), unless the user owns or controls the rights thereto or has received all the necessary consents;</p>

        <p>IV. Upload or attach files that contain viruses, corrupted files or any other similar software that may damage the operation of another's computer;</p>

        <p>V. Delete any author attributions, legal notices or proprietary designations or labels in any file that is uploaded;</p>

        <p>VI. Falsify the origin or source of software or other material contained in a file that is uploaded;</p>

        <p>VII. Advertise or offer to sell any goods or services, conduct or forward surveys, contests or chain letters;</p>

        <p>VIII. Download any file posted by another User of a Forum that the User knows, or reasonably should know, cannot be legally distributed in such manner.</p>
        <p>4.14 All forums or discussion groups are public and not private.</p>
        <p>4.15 All chats, postings, conferences, e-mails and other communications by other Users are not endorsed by W3C Brasil and such communications shall not be considered to have been reviewed, screened or approved by W3C Brasil.</p>
        <p>4.16 The Platform reserves the right to remove, for any reason and without notice, any content of the Forums received from Users, including, without limitation, e-mail and bulletin board postings.</p>
        <p>4.17 The Platform reserves the exclusive right in its sole discretion to alter, limit or discontinue the Platform or any materials in any respect.</p>
        <p>4.18 The Platform reserves the right to deny, without prior notice to any User, access to this Platform or any part thereof, in case of breach of this Terms of Use, the laws in force and/or public morals and common decency.</p>
        <p>5. Intellectual Property Rights</p>
        <p>5.1 Trademarks, trade names or symbols of any kind found on the Platform are disclosed by Users and Partners, who have sole and exclusive ownership of them. The mere use of the Platform, as well as its services, does not impart to the User any assignment, license, authorization or any other right to use any trademark.</p>
        <p>6. Disclaimer of Warranties and Liability</p>
        <p>6.1 The User expressly agrees that the use and/or access to the Platform's services is totally at his or her own risk, with the understanding that the services are provided in the form in which they are found and according to availability. The Platform does not ensure that the use of the services will meet the User's requirements.</p>
        <p>6.2 Continuity of Services: For purely technical and operational reasons, the Platform cannot guarantee the availability and continuity of the Platform’s operation and its services. On occasion, the Platform may be able to provide advance warning regarding interruptions to the Platform’s operation and its services, but it will never be able to ensure that the use of the Platform and its services will be uninterrupted, punctual, secure or error-free, or that any defect in the service or Platform will be corrected.</p>
        <p>6.3 Viruses: the organizers and maintainers of the Platform do not guarantee the absence of viruses in the contents, the services provided by third parties, the links, or other items that may produce changes in the computer system of the User or in stored files/electronic documents. Thus, the organizers and maintainers of the Platform disclaim all liability for any loss and damages of any nature arising from these events.</p>
        <p>6.4 Contents and Links: the organizers and maintainers of the Platform do not guarantee the legality, reliability, accuracy and usefulness of the contents, as well as the services or functionality provided/offered by third parties through the Platform. Thus, the organizers and maintainers of the Platform disclaim all liability for any loss and damages of any nature arising from:</p>

        <p>I. violation of the law, public morals and common decency, resulting from the transmission, dissemination, storage, provision, receipt or access to content;</p>

        <p>II. infringement of intellectual and industrial property rights, trade secrets, contractual commitments of any kind, rights to honor, personal and family privacy, right of publicity, property rights and those of any kind pertaining to third parties as a result of transmission, dissemination, storage, provision, receipt or access to content;</p>

        <p>III. lack of veracity, precision, accuracy and/or relevance of the contents, or their being up to date;</p>

        <p>IV. inadequacy related to whatever the purpose of the content, or expectations that were not met;</p>

        <p>V. breach, delayed performance, defective performance or completion, for any reason, of the obligations assumed by third parties and contracts made ​​with third parties through or based on access to content;</p>

        <p>VI. flaws and defects of any kind in the services provided by third parties through the Platform.</p>
        <p>6.5 The organizers and maintainers of the Platform do not guarantee the veracity and accuracy of the content posted on the Platform and whether it is up to date, disclaiming all liability for any losses and damages of any kind arising therefrom.</p>
        <p>6.6 Control of Use: The Platform does not control the access and use of Users of the Platform’s services and content. Therefore, it cannot ensure that Users use the Platform, services and content in accordance with the law, this Terms of Use and the respective Specific Terms, upholding public morality and common decency, or that they use it in a careful and prudent manner. The organizers and maintainers of the Platform have no obligation to verify, and do not verify the identity of Users, or whether the data that Users provide about themselves to other Users is truthful, up-to-date, complete and authentic. Thus, the organizers and maintainers of the Platform disclaim all liability for any loss and damages of any nature arising from such situations.</p>
        <p>6.7 Security: The Platform uses the legally required security levels to protect personal data and continually seeks to implement other technical means and measures of protection. Nevertheless, Users should be aware that Internet security measures are not foolproof.</p>

        <p>7. Suspension and Termination of Services</p>

        <p>7.1. The organizers and maintainers of the Platform reserve the right to deny or withdraw access to the Platform and/or services at any time, without prior notice, at its own initiative or at the demand of a third party, of any User who fails to comply with the Terms of Use.</p>

        <p>8. Applicable Law and Venue</p>
        <p>8.1. This Terms of Use shall be governed exclusively by the laws of the Federative Republic of Brazil and any litigation that may arise based on its interpretation or application shall be judged by Brazilian courts.</p>
        <p>8.2 The Court of São Paulo, in the State of São Paulo, shall have exclusive jurisdiction to settle any matter or possible dispute arising from this General Terms and Conditions of Use, with the parties expressly waiving any other, however privileged it may be.</p>
        <p>Any person (User) or Partner who wishes to use the Platform must read and confirm that they have understood all the "General Terms and Conditions" and Privacy Policy that apply to use of the Platform. Acceptance through reading these "General Terms and Conditions" is absolutely essential for using the Platform.</p>

      </div>
    