<% content_for :head do %>
  <title>Open Data for Development - About</title>
<% end %>

  <article resource="#about" typeof="schema:Article" class="main post institucional">
    <meta property="schema:headline" content="About the Project"/>
    <meta property="schema:datePublished" content="2014-09-29"/>
    <meta property="schema:inLanguage" content="<%= I18n.locale %>"/>
    <meta property="schema:copyrightHolder" content="W3C"/>
    <meta property="schema:license" content="http://creativecommons.org/licenses/by-sa/4.0/"/>
    <meta property="schema:keywords" content="about;od4d"/>

    <div class="grid-container content">
      <p class="breadcrumb breadcrumb-default">
      <%= link_to t('home'), controller: "home", action: "index" %>
       | <a href="#"><%= t('about').mb_chars.upcase %></a>
      </p>
      <div class="">
        <div class="grid-100">
          <section class="introduction grid-100">
          <%= render 'about_'+I18n.locale.to_s %>
          </section>
        </div>
      </div>
    </div>
  </article>
