<% content_for :head do %>
  <title>Open Data for Development - About</title>
<% end %>

  <article resource="#about" typeof="schema:Article" class="main post institucional">
    <meta property="schema:headline" content="About the Project"/>
    <meta property="schema:datePublished" content="2014-09-29"/>
    <meta property="schema:inLanguage" content="en-US"/>
    <meta property="schema:copyrightHolder" content="W3C"/>
    <meta property="schema:license" content="http://creativecommons.org/licenses/by-sa/4.0/"/>
    <meta property="schema:keywords" content="about;od4d"/>

    <div class="grid-container content">
      <p class="breadcrumb breadcrumb-default">
      <%= link_to t('home'), controller: "home", action: "index" %>
       | <a href="#"><%= t('become_partner_title') %></a>
      </p>
      <h1 class="title blackgrayfont grid-100"><%= t('become_partner_full_title') %></h1>

      <p>There are several ways to join the global effort to publish linked data and to join the initiative to apply the semantic web concepts. The project Open Data for Development Platform - OD4D is a worldwide forum for cooperation among the various actors in this ecosystem.</p>

      <p><strong>Aims</strong></p>

      <p>The platform serves as the link between the regional initiatives of linked data in Latin America, Africa, Asia and the Caribbean. The platform is also open to other regional and local initiatives. It works as a virtual hub for OD4D Network, enabling access in English, Portuguese and Spanish to a simple, semantic and scalable environment. It was designed to be a reference in linked data systems, to enable learning on open data technologies, community exchange information and the production of semantic content. Its main objectives are:
      </p>

      <p>
        <ul>
          <li>Gathering data on the web initiatives from both partner organizations and individuals, showing in detail the step by step of structuring linked data use cases;</li>
          <li>Promoting the integration and dissemination of knowledge about linked data using native languages​​;</li>
          <li>Promoting standards and specific vocabulary;</li>
          <li>Being a reference of best practices for publishing and reuse of linked data;</li>
          <li>Being, itself, a case of linked data by using W3C standards .</li>
        </ul>
      </p>

      <p><strong>Good reasons to connect</strong></p>

      <p>Before you, it is an inspiring platform for new experiments to interconnect innovative networks and to feed the linked data value chain.</p>
      <p>The platform is a space for managers, entrepreneurs, developers, researchers and enthusiasts. Its success depends on the participation of people like you.</p>
      <p>In it, for example, managers of public and government policies can study and discuss alternative strategies for the development of technical skills in government agencies and regional observatories in order to implement linked data repositories, monitoring and evaluation of public policies.</p>
      <p>Being a virtual hub with different players, the platform enables intense exchange of information and solutions between experts. Several use cases are being reported with extensive replication capacity. All these cases increase transparency and bring immense benefit to the population.</p>
      <p>Also, private companies can benefit from the exchange of information about cutting-edge technologies. The deployment of the semantic web technologies can help increase the visibility and the value of their products on the network.</p>
      <p>The platform allows research departments of private companies to promote their latest developments in the field of ​​semantic web. Not to mention the possibilities for future partnerships between professionals and institutions cooperating in the development of joint projects.</p>
      <p>Still, researchers in universities have a fertile ground to spread papers, case studies and relevant outcomes of their research environment. The social intelligence in the platform provides a living knowledge base on linked data. New experiments and partner initiatives can be driven by the rich academic networking provided by the platform.</p>
      <p>For developers and web designers, the environment drives the access to technical references and best practices in the adoption of open web standards as well as the search for and the publishing of tutorials and technical guides on deployment of semantic web. In addition, the platform bring together a hub of experts.</p>
      <p>Civil society organizations, activists and enthusiasts of free software, open data and open web standards can use the platform to promote events on topics of their aspirations. The OD4D platform promotes awareness and advocacy about the importance of open data.</p>

      <p><strong>How to join</strong></p>

      <p>If you wish to become a partner and your organization's website has a RSS feed, you will it is very simple to integrate your content automatically to the OD4D semantic data base platform.</p>
      <p>Therefore, it is a unique opportunity to join the OD4D platform and exchange  knowledge on linked data and related topics. Your contribution and your knowledge within the OD4D platform will make difference for the improvement of techniques and technologies in linked data and related topics. And surely you will help to make it an environment of transparency, openness and collaboration.</p>
      <p>Please contact us through the email <%= link_to "od4d(at)nic.br", "mailto:od4d@nic.br" %> and join this initiative!</p>
    </div>
  </article>
