<% content_for :head do %>
  <title>Open Data for Development - How to create a semantic page</title>
<% end %>

  <section class="main" resource="#how-to-create-a-semantic-page" typeof="schema:Article">
    <h1 property="schema:headline">How to create a semantic page</h1>
    <meta property="schema:datePublished" content="2014-07-08"/>
    <meta property="schema:wordCount" content="503"/>
    <meta property="schema:inLanguage" content="English"/>
    <meta property="schema:copyrightHolder" content="W3C"/>
    <meta property="schema:license" content="http://creativecommons.org/licenses/by-sa/4.0/"/>
    <meta property="schema:keywords" content="howto;semantic;od4d"/>

    <p>
      The content will be here
    </p>

  </section>
