<% content_for :head do %>
  <title>Open Data for Development - Home Page</title>
<% end %>

  <section resource="#about" typeof="schema:Article" role="main">
    <meta property="schema:datePublished" content="2014-06-20"/>
    <meta property="schema:wordCount" content="503"/>
    <meta property="schema:inLanguage" content="English"/>
    <meta property="schema:copyrightHolder" content="W3C"/>
    <meta property="schema:license" content="http://creativecommons.org/licenses/by-sa/4.0/"/>
    <meta property="schema:keywords" content="about;od4d"/>
    <div class="homeleft"> test 
    </div>  
   </section> 
   <aside>
      test
   </aside>  
  </section>
