<% content_for :head do %>
  <title>Open Data for Development - Terms and Conditions</title>
<% end %>

<article class="main post institucional" resource="#terms-and-conditions" typeof="schema:Article">
  <meta property="schema:datePublished" content="2014-09-29"/>
  <meta property="schema:inLanguage" content="en-US"/>
  <meta property="schema:copyrightHolder" content="W3C"/>
  <meta property="schema:license" content="http://creativecommons.org/licenses/by-sa/4.0/"/>
  <meta property="schema:keywords" content="terms;conditions;od4d"/>
  <div class="grid-container content">
      <p class="breadcrumb breadcrumb-default">
      <%= link_to t('home'), controller: "home", action: "index" %>
       | <a href="#"><%= t('terms_condit_title').mb_chars.upcase %></a>
      </p>
    <h1 class="title blackgrayfont" property="schema:headline"><%= t('terms_condit_full_title').mb_chars.upcase %></h1>
    <div class="grid-100">
        <%= render 'terms_'+I18n.locale.to_s %>
    </div>
  </div>
</article>
