/* Header */
header {
  background-color: #333333;
  padding: 15px;
}

header a {
  font-size: 0.875em !important;
  color: #c5c5c5 !important;
  font-weight: 500 !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

header a:hover {
  color: #ffffff !important;
  text-decoration: none;
}

/* to center the logo on small screens */
.logo {
  text-align: center;
}

/* to make the menu-button appear on the left side */
.top-bar .menu-button {
  right: auto;
}

/* to center the top-bar when it appears under the logo */
@media only screen and (min-width: 40.063em) and (max-width: 56em) {
  .top-bar {
    margin: 0px auto;
    width: 35em;
  }
}

/* position and align the header elements when they appear side-by-side */
@media only screen and (min-width: 56em) {
  .logo {
    text-align: left;
  }

  .top-bar {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 105px;
  }

  .top-bar .top-bar-section {
    display: inline-block;
    vertical-align: middle;
  }
}
