  <div class="bottom clearfix">
    <div class="grid-15">
      <h3>OD4D</h3>
      <ul>
        <li><a href="">POLÍTICA DE PRIVACIDADE</a></li>
        <li><a href="">TERMOS E CONDIÇÕES</a></li>
        <li><a href="">SOBRE O PROJETO</a></li>
      </ul>
    </div>
    <div class="grid-15">
      <h3>COMO PARTICIPAR</h3>
      <ul>
        <li><a href="">COLABORE COM POSTS</a></li>
        <li><a href="">SEJA UM PARCEIRO</a></li>
      </ul>
    </div>
    <div class="grid-15">
      <h3>UNIVERSO OPEN DATA</h3>
      <ul>
        <li><a href="">GLOSSÁRIO</a></li>
        <li><a href="">CAPACITAÇÃO</a></li>
        <li><a href="">MATERIAIS DE REFERÊNCIA</a></li>
        <li><a href="">INTRODUÇÃO AOS CONCEITOS</a></li>
      </ul>
    </div>
    <div class="grid-15">
      <h3>CASOS PRÁTICOS</h3>
      <ul>
        <li><a href="">PROJETOS</a></li>
        <li><a href="">PRODUTOS</a></li>
      </ul>
    </div>
    <div class="grid-15">
      <h3>EVENTOS</h3>
      <ul>
        <li><a href="">ENCONTROS</a></li>
        <li><a href="">CONCURSOS</a></li>
        <li><a href="">CURSOS</a></li>
      </ul>
    </div>
    <div class="grid-15 social-bottom">
      <h3>SIGA A GENTE!</h3>
      <ul class="social-list-link">
        <li class="twitter"><a href=""></a></li>
        <li class="facebook"><a href=""></a></li>
        <li class="gplus"><a href=""></a></li>
      </ul>
      <div class="fb-like" data-href="https://www.facebook.com/opendata4dev" data-width="208" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fopendata4dev&amp;width=208&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=222702521261155" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:208px; height:80px;" allowTransparency="true"></iframe>
    </div>
  </div>
  <footer class="mainfooter">
    <a href="index.html">
      <img src="<%= asset_path 'logo.png' %>" alt="Open Data - development for platform" />
    </a>
    <p class="floatRight">© 2014 Open Data for Development - All Rights Reserved.</p>
  </footer>